@use 'sass:map';
@use '../../../styles/var' as *;
@import '../../../styles/commom';
@import '../../../styles/loading.scss';

.bu-loading {
  &-mask {
    position: absolute;
    z-index: 2000;
    background-color: var(--bu-mask-color, rgba(255, 255, 255, 0.9));
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity $bu-transition-duration;
  }
  &-spinner {
    top: 50%;
    margin-top: calc((0px - 20px) / 2);
    width: 100%;
    text-align: center;
    position: absolute;
  }
  &-svg {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: inline-block;
  }
  &-text {
    color: $color-primary;
  }
}
