.iconpark-icon {
  width: 24px;
  height: 24px;
  color: #fff;
}

.ysj-image-container {
  background-color: #000;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  color: #fff;
}

.ysj-image-container-header {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
  line-height: 44px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.ysj-image-opt {
  display: flex;
  align-content: center;
}

.ysj-image-opt button,
.ysj-image-opt a {
  cursor: pointer;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 28px;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  background-color: transparent;
  border-width: 0;
  text-align: center;
}

.ysj-image-opt button:focus,
.ysj-image-opt a:focus {
  outline-width: 0;
}

.ysj-image-arraw-left {
  position: absolute;
  left: 10px;
  top: 50%;
  cursor: pointer;
  width: 30px;
}

.ysj-image-arraw-right {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  width: 30px;
}

.current-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #999;
}

.ysj-my-swipe {
  height: calc(100vh - 50px);
}

.ysj-my-swipe .ysj-swipe-item {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.ysj-my-swipe .img-item {
  max-width: 100%;
  max-height: 100%;
}

.ysj-image-container-content {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ysj-image-container-content img {
  transition: all 0.3 ease;
}

.ysj-swipe-wrapper {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  cursor: grab;
  height: 100%;
}

.ysj-swipe__track {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  transition-property: transform;
}

.ysj-swipe-item {
  height: 100%;
  width: 100%;
  min-height: 180px;
}

.ysj-img-rotate {
  transition: transform 0.5s;
}
