@use "sass:map";

$colors: () !default;
$colors: map.deep-merge(
  (
    "white": #ffffff,
    "black": #000000,
    "primary": (
      "base": #2d8cf0,
    ),
    "success": (
      "base": #19be6b,
    ),
    "warning": (
      "base": #ff9900,
    ),
    "danger": (
      "base": #f56c6c,
    ),
    "error": (
      "base": #ed4014,
    ),
    "info": (
      "base": #2db7f5,
    ),
    "normal": (
      "base": "#e6ebf1",
    ),
  ),
  $colors
);

$color-white: map.get($colors, "white") !default;
$color-black: map.get($colors, "black") !default;
$color-primary: map.get($colors, "primary", "base") !default;
$color-success: map.get($colors, "success", "base") !default;
$color-warning: map.get($colors, "warning", "base") !default;
$color-danger: map.get($colors, "danger", "base") !default;
$color-error: map.get($colors, "error", "base") !default;
$color-info: map.get($colors, "info", "base") !default;

$border-radius: () !default;
$border-radius: map.merge(
  (
    "base": 4px,
    "small": 2px,
    "round": 20px,
    "circle": 100%,
  ),
  $border-radius
);

$input-font-size: () !default;
$input-font-size: map.merge(
  (
    "large": 14px,
    "base": 14px,
    "small": 12px,
  ),
  $input-font-size
);
