@use 'sass:map';
@use '../../../styles/var' as *;

@import '../../../styles/commom';

.bu-space {
  display: inline-flex;
  vertical-align: top;
  .bu-space--item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
  }
  &.bu-space--vertical {
    flex-direction: column;
  }
}
